* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: 150px 1fr;
  background-color: #202124;
  background: #2d2e30;

}
header {
  display: grid;
  color: #FFF;
  padding: 20px;
  border-bottom: 1px solid #FFF;
}

#app {
  padding: 20px;
  place-self: center;
}

#commands{
  display: grid;
  grid-template-columns: 1fr auto;
  place-self: center;
  margin-top: 30px;
}

#commands input{
  background: #2d2e30;
  border: none;
  color: #FFF;
}

header h1 {
  place-self: center;
}

ul {
  list-style: none;
}

.todo-item, #commands {
  border-radius: 10px;
  border: 1px solid #FFF;
  width: 500px;
  padding: 20px;
  margin-top: 5px;
}

.todo-text {
  color: #FFF;
}

.todo-item-animated {
  transition: all 0.5s;
}

.list-animation-enter, .list-animation-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.list-animation-leave-active {
  position: absolute;
}
