<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Todo</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css" type="text/css">

  </head>
  <body>
    <header>
      <h1>Todo list</h1>
    </header>
    <div id='app'>
      <div id="commands">
        <input type="text" placeholder="Write something..." v-model="newTodoText" v-on:keyup.enter="addTodo()" />
        <a href="" v-on:click="addTodo()" onclick="return false;" title="Add a new item">+</a>
      </div>
      <ul>
        <li v-for="todo in todoItems"  v-bind:key="todo.Id" class='todo-item todo-item-animated'>
          <label class="todo-check">
            <input type="checkbox" v-model="todo.IsDone" v-on:click="move(todo)" />
            <span class="checkmark"></span>
          </label>

          <span v-bind:class='{ completed: todo.IsDone }' class='todo-text'>{{ todo.Text }}</span>

          <a href="" v-on:click="removeTodo(todo)" onclick="return false;" title="Remove this item">x</a>
        </li>
      </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="index.js"></script>
  </body>
</html>
